.codemoe {
  text-decoration: none;
  display: flex;
  align-content: center;
  align-items: center;
  color: #ffffff;
}

.brand:hover {
  color: #f33441;
}

.codemoe a:hover {
  color: #ffffff;
}

.codemoe svg {
  color: #ffffff;
}

.main {
  width: 100vw;
  height: 100vh;
  background: url("../Images/bg-pattern.png"), #080d16;
  background: url("../Images/bg-pattern.png"),
    -webkit-linear-gradient(to left, #080d16, #080d16);
  background: url("../Images/bg-pattern.png"),
    linear-gradient(to left, #080d16, #080d16);
}

svg {
  margin-right: 10px;
}

.codehack {
  position: relative;
  top: 30%;
  width: 7em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  animation: type 1.5s steps(13) 1s 1 normal both,
    blinker 500ms steps(13) infinite normal;
}

.coderesponse {
  position: relative;
  top: 25%;
  animation: response 0.05s;
  animation-delay: 4.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  text-align: center;
  color: #ffffff;
}

@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 7em;
  }
}

@keyframes blinker {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes response {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
